.files__list-wrapper{
    margin-top: 10vh;
    margin-bottom: 3vh;
}

.files__not-found{
    align-content: center;
    text-align: center;
}

.files__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    width: 100%;
}

.files__list-item {
    margin: 2rem 1rem;
}

.files__list-item:hover{
    background-color: var(--vt-c-text-dark-2);
    transition: 0.5s ease;
}

.files__list-item-content{
    padding: 1rem;
    border: 2px solid var(--vt-c-divider-dark-2);
}

.files__item-name{
    text-align: left;
}

.files__item-details {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.files__item-size {
    margin: 0;
}

.files__icons{
    display: flex;
    justify-content: space-between;
}

.files__icons-icon{
    margin-right: 0.5rem;
}

@media (max-width: 700px) {
    .files__list-wrapper{
        margin-top: 5vh;
    }
}